body {
  text-align: center;
  background-image: url(img/snowflakes.png);
  background-repeat: repeat;
  font-family: Arial;
}
.title {
  background-color: rgba(255,255,255, 0.8);
  border-radius: 0.5em;
  display: inline-block;
  padding-left:1em;
  padding-right: 1em;
  margin-top: 10vh;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  height: 50vh;
}

.picture-container {
  flex-basis: 65%;
}
.picture {
  height: 100%;
}

.interface {
  flex-basis: 35%;
  text-align: center;
}
.start-button {
  font-size: 2em;
  background-color: #1e2796;
  color: white;
  border: 2px solid #19207d;
  border-radius: 10px;
  padding: 0.25em;
}
.start-button:hover {
    background-color: #2e37ae;
}
.row-letters {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
.cell {
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  font-size: 2em;
  font-Family: Arial;
  border: 2px solid #19207d;
  border-radius: 2px;
  width: 5vh;
  height: 5vh;
}
.row-alphabet {
  margin-top: 8vh;
}
.row-alphabet > button {
  font-size: 1.8em;
}
